chardet==2.3.0
Django==1.7.1
django-extensions==1.4.6
django-filebrowser-django13==3.0
git+https://github.com/hebijiandai/django-import-export.git
django-mptt==0.6.1
django-reversion==1.8.5
Django-Select2==4.3.2
django-suit==0.2.12
django-suit-ckeditor==0.0.2
django-suit-redactor==0.0.2
djangorestframework==3.11.2
diff-match-patch
tablib==0.10.0
